<div class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Recipes", recipes_path, class: "nav-link" %>
      <%= link_to "Log In", new_user_session_path, method: :get, class: "nav-link" %>
      <%= link_to "Sign Up", new_user_registration_path, method: :get, class: "nav-link" %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>
  </div>
</div>
